body {
	margin:0; padding: 10px; 
	background-color:#315275;
	font-family: 'Londrina Shadow', cursive;
	color: #315275;
}

h1 {
	margin: 0; padding: 0;
	text-align: center;
	font-size: 40pt;
}

h2 {
	margin:0; padding: 0;
	text-align: center; 
	font-size: large;
}

hgroup {
	/* margin: 0px auto; */
	color: #eee;
	width: 540px;	
}

details {
	margin-top:10px; padding: 0;
	text-align: center;	
}

#scene {
	z-index:1;
	margin:0px;
	padding:0px;
	background-color: #ffffff;
	border-radius: 10px;
	-webkit-box-shadow:  0px 4px 2px 2px rgba(5, 5, 2, .1);
    -moz-box-shadow:  0px 4px 2px 2px rgba(5, 5, 2, .1);
    box-shadow:  0px 4px 2px 2px rgba(5, 5, 2, .1);  
}

#blood {
	position:absolute;
	z-index:1;
	margin:0px;
	padding:0px;
	top: 0px;
    left: 0px;
}

#game {
	/* margin: 0px auto; */
	background-color:#ccc;
	border-radius: 10px;
	width: 500px;
	text-align: center;
	-webkit-box-shadow:  0px 4px 2px 2px rgba(5, 5, 2, .2);
    -moz-box-shadow:  0px 4px 2px 2px rgba(5, 5, 2, .2);
    box-shadow:  0px 4px 2px 2px rgba(5, 5, 2, .2);   
    border-bottom: solid 1px #ccc;
}

#character
{
	z-index:2;
	position:absolute;
	left:30px;
	bottom:2px;
	margin:0px;
	padding:0px;
}

.details
{
	position:relative;
	text-align:left;
	background-color:#C2FFFF;
	margin-top:15px;
	margin-left:25px;
	border-radius:15px;
	font-family:tahoma;
	font-size:17px;
	margin-right:27px;
	border-style:solid;
	border-width:3px;
	color:#4C4C4C;
	height:450px;
	width:450px;
}

.relevant
{
	position:absolute;
	border-radius:15px;
	margin:0px;
	padding:0px;
}